html {
    height: auto !important;
    scroll-behavior: smooth !important;
}

body {
    background-color: #F3F2EF !important;
    /* background-color: #F0F2F5 !important; */
    color: #767676 !important;
}

.menu:hover {
    background-color: rgb(226, 226, 226);
}

.menu-active {
    background-color: rgb(226, 226, 226);
}

i {
    color: #767676;
}

.container {
    position: relative !important;
}

.modal-content {
    width: 150% !important;
    margin-left: -25%;
}

.form-control {
    height: calc(1.3em + .70rem + 1px) !important;
    width: 60% !important;
}

@media (min-width: 576px) {
    .modal-content {
        width: 90% !important;
    }
}

@media (min-width: 768px) {
    .modal-content {
        width: 90% !important;
    }
}